/out/
/extension/
/upload/
bin/
obj/
/mono-debug-*/
*.vsix
*.zip
*.exe
*.exe.mdb
mono-debug.userprefs
npm-debug.log
.vs/
.DS_Store
log.txt
!unity-debug-adapter.E2ETests/log.txt
log

# ignore Unity project files (for tests sub-project)
*.log
*.blend1
*.blend1.meta
*.DotSettings.user
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

crashlytics-build.properties
InitTestScene*.unity*
sysinfo.txt
mono_crash.*

unity-debug-adapter.E2ETests/unity_test_project_2022_3/.utmp/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Ll]ibrary/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Tt]emp/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Oo]bj/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Bb]uild/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Bb]uilds/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Ll]ogs/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Uu]ser[Ss]ettings/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/.consulo/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Mm]emoryCaptures/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Rr]ecordings/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/AssetStoreTools*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Plugins/Editor/JetBrains*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/.vs/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/.gradle/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/ExportedObj/
unity-debug-adapter.E2ETests/unity_test_project_2022_3/*.csproj
unity-debug-adapter.E2ETests/unity_test_project_2022_3/ServerData
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/StreamingAssets/aa*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/AddressableAssetsData/link.xml*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Addressables_Temp*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/AddressableAssetsData/*/*.bin*
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
unity-debug-adapter.E2ETests/unity_test_project_2022_3/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
